#home {
    margin-top: 50px;
}

#new-entry {
    margin-top: 50px;
}

#view-entry {
    margin-top: 50px;
}

#lock-journal {
    margin-top: 50px;
}

#journal-locked {
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
    background-color: #33cc33;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}

.visible {
    display: block;
}
.hidden {
    display: none;
}

.fade-in {
    animation: fadeIn ease 1s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}